@media all and (max-width: 1000px) {
  /*  start responsive main  */
  .main-wrapper {
    width: 100%;
    position: unset;
  }

  .main-wrapper h2 {
    font-size: 28px;
  }

  .main-wrapper p {
    font-size: 24px;
  }

  .main-wrapper hr {
    width: 290px;
    margin-left: 80px;
  }

  .btn-wrapper {
    margin: 20px 140px;
  }

  .btn {
    padding: 5px 9px;
    font-size: small;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 7px #0032888a;
  }

  .main-service {
    width: 660px;
    margin: 0 auto;
    position: unset;
  }

  .serv-content {
    padding: 10px 10px;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .serv-content2 {
    padding: 10px 10px;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .serv-content i {
    padding: 10px;
  }

  .serv-content2 i {
    padding: 10px;
  }

  .serv-content h5 {
    font-size: 10px;
  }

  .serv-content2 h5 {
    font-size: 10px;
  }

  .fa-bars {
    display: inline-block;
  }

  span {
    display: none;
  }

  /*  end responsive main  */
  /*responsive body 1 @ 1000px*/
  .body1 {
    height: 600px;
  }
  .about-container {
    max-width: 100%;
  }
  .about-img {
    width: 40%;
  }
  .about-img img {
    max-width: 240px;
  }
  .about-text {
    width: 40%;
  }
  /* end of responsive body 1 @ 1000px */
}

@media all and (max-width: 670px) {
  /*  start responsive main  */
  .main-wrapper {
    width: 46rem;
    text-align: center;
  }
  .main-wrapper h2 {
    font-size: 45px;
  }

  .main-wrapper p {
    font-size: 40px;
  }

  .main-wrapper hr {
    margin: auto;
  }

  .btn {
    padding: 18px 30px;
    font-size: medium;
  }

  .main-service {
    width: 660px;
    margin: 0 35px;
    display: block;
  }

  .serv-content {
    padding: 25px 125px;
  }

  .serv-content2 {
    padding: 25px 125px;
  }

  .serv-content h5 {
    font-size: 35px;
  }

  .serv-content2 h5 {
    font-size: 35px;
  }
  /* end responsive main */
  /*start body 1*/
  .body1 {
    width: 46rem;
    height: 930px;
    margin-top: 335px;
  }

  .about-container {
    max-width: 95%;
  }

  .about-main {
    flex-direction: column;
  }

  .about-title h1 {
    color: white;
    font-size: 30px;
    letter-spacing: 8px;
  }

  .about-img img {
    max-width: 240px;
  }

  .about-text {
    margin-top: 20px;
  }

  .about-text h2 {
    font-size: 24px;
  }

  .about-text p {
    font-size: 18px;
  }
  /*end body 1*/
  /* start body 2 */
  .body2 {
    display: flex !important;
    width: 46rem;
    height: 100% !important;
  }
  .ourteams {
    display: flex !important;
    flex-direction: column !important;
  }

  .ourteam-title h1 {
    color: white;
    font-size: 30px;
    letter-spacing: 8px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .ourteam-member {
    padding: 25px 125px;
    text-align: center !important;
  }

  .ourteam-member img {
    width: 75% !important;
    height: 75% !important;
  }

  .ourteam-member h4 {
    color: white;
    font-size: 170% !important;
    text-align: center;
    padding-top: 15px;
  }

  .header-right {
    display: none;
  }

  .fa-bars {
    display: block!important;
  }


  /* end body 2 */
}
@media all and (max-width: 1200px) {
  .body2 {
    height: 70vh;
  }
  .ourteam-member img {
    width: 16vw;
    height: 16vw;
  }

  .ourteams {
    padding: 4vw;
  }
  .ourteam-member {
    padding: 5px;
  }

  .ourteam-member h4 {
    color: white;
    font-size: 13px;
    padding-top: 15px;
    text-align: center;
  }

  .fa-bars {
    display: inline-block;
  }

  span {
    display: none;
  }
}
