@media all and (max-width: 1000px) {
  /*  start responsive main  */
  .main-wrapper {
    width: 100%;
    position: unset;
  }

  .main-wrapper h2 {
    font-size: 28px;
  }

  .main-wrapper p {
    font-size: 24px;
  }

  .main-wrapper hr {
    width: 290px;
    margin-left: 80px;
  }

  .btn-wrapper {
    margin: 20px 140px;
  }

  .btn {
    padding: 5px 9px;
    font-size: small;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 7px #0032888a;
  }

  .main-service {
    width: 660px;
    margin: 0 auto;
    position: unset;
  }

  .serv-content {
    padding: 10px 10px;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .serv-content2 {
    padding: 10px 10px;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .serv-content i {
    padding: 10px;
  }

  .serv-content2 i {
    padding: 10px;
  }

  .serv-content h5 {
    font-size: 10px;
  }

  .serv-content2 h5 {
    font-size: 10px;
  }
  /*  end responsive main  */
}

@media all and (max-width: 670px) {
  /*  start responsive main  */
  .main-wrapper {
    width: 46rem;
    text-align: center;
  }
  .main-wrapper h2 {
    font-size: 45px;
  }

  .main-wrapper p {
    font-size: 40px;
  }

  .main-wrapper hr {
    margin: auto;
  }

  .btn {
    padding: 18px 30px;
    font-size: medium;
  }

  .main-service {
    width: 660px;
    margin: 0 35px;
    display: block;
  }

  .serv-content {
    padding: 25px 125px;
  }

  .serv-content2 {
    padding: 25px 125px;
  }

  .serv-content h5 {
    font-size: 35px;
  }

  .serv-content2 h5 {
    font-size: 35px;
  }
  /* end responsive main */
  /* start body 2 */
  .body2 {
    width: 46rem;
    height: 570px;
    margin-top: 335px;
  }
  .ourteams {
    padding-left: 50px;
  }

  .ourteam-title h1 {
    color: white;
    font-size: 30px;
    letter-spacing: 8px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .ourteam-member {
    padding: 25px 125px;
  }
  .ourteam-member img {
    width: 20vw;
    height: 20vw;
  }

  .ourteam-member h4 {
    color: white;
    font-size: 10px;
    padding-top: 15px;
    text-align: center;
  }
  /* end body 2 */
}
@media all and (max-width: 1200px) {
  .body2 {
    height: 65vh;
  }
  .ourteam-member img {
    width: 16vw;
    height: 16vw;
  }

  .ourteams {
    padding: 4vw;
  }
  .ourteam-member {
    padding: 5px;
  }

  .ourteam-member h4 {
    color: white;
    font-size: 13px;
    padding-top: 15px;
    text-align: center;
  }
}
