* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

/* start main css */

.main-container {
  max-width: 1466px;
  min-height: 550px;
  margin: auto;
  background-color: #2d31fa;
}

.main-wrapper {
  position: absolute;
  width: 100%;
  padding: 180px 0 100px 0;
  background-image: url(bg-home1.jpg);
  background-size: cover;
  color: white;
  animation-name: bg-home;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  margin-bottom: 10px;
}
@keyframes bg-home {
  0% {
    background-image: url(./img/bg-home1.jpg);
  }
  25% {
    background-image: url(./img/bg-home2.jpg);
  }
  50% {
    background-image: url(./img/bg-home3.jpg);
  }
  75% {
    background-image: url(./img/bg-home4.jpg);
  }
  100% {
    background-image: url(./img/bg-home5.jpg);
  }
}

.main-wrapper h2 {
  margin-left: 35px;
  opacity: 0.9;
  font-size: 2rem;
  letter-spacing: 7px;
  margin-bottom: 20px;
}

.main-wrapper p {
  margin-left: 60px;
  opacity: 0.9;
  font-size: 2rem;
  letter-spacing: 3px;
  margin-bottom: 3px;
  margin-top: 20px;
  padding-bottom: 15px;
}

.main-wrapper hr {
  width: 390px;
  margin-left: 80px;
}

.btn-wrapper {
  margin: 20px 200px;
}

.down {
  background-color: #005fff8a;
}

.btn {
  padding: 10px 18px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 7px #0032888a;
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.btn-wrapper .fa {
  margin-right: 5px;
}

.btn-wrapper span {
  width: 10px;
  height: 10px;
}

.main-service {
  background-color: #263045;
  position: relative;
  top: 450px;
  width: 950px;
  height: 98px;
  display: flex;
  flex: auto;
  margin: 0 auto;
  color: #dee7ec;
}

.serv-content {
  display: flex;
  margin: auto;
  background-color: #051367;
  padding: 25px 35px;
}

.serv-content2 {
  display: flex;
  padding: 25px 35px;
  margin: auto;
  background-color: #263045;
}

.serv-content i {
  background-color: #263045;
  padding: 8px;
  opacity: 0.9;
}

.serv-content2 i {
  background-color: #051367;
  padding: 8px;
  opacity: 0.9;
}

.serv-content h5 {
  margin: auto;
  margin-left: 10px;
  font-weight: normal;
  font-size: 12px;
  opacity: 0.9;
}

.serv-content2 h5 {
  margin: auto;
  margin-left: 10px;
  font-weight: normal;
  font-size: 12px;
  opacity: 0.9;
}
/* end main css */

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 70px;
  width: 100%;
  background-color: rgba(5, 9, 103, 0.8);
  position: fixed;
  top: 0;
  z-index: 10;
}

header img {
  width: 125px;
  aspect-ratio: auto 125/100;
}

.logo {
  width: 125px;
  margin-top: 5px;
}

.header-left {
  float: left;
  padding-left: 20px;
}

.header-right {
  float: right;
  margin-right: 25px;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 70px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.fa-bars {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none !important;
}

.fa-bars:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* end header */
/* Body 1 */
.body1 {
  height: 450px;
  background-color: #2d31fa;
}

.about-container {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 40px;
}

.about-title {
  margin: 0 auto;
  text-align: center;
}

.about-title h1 {
  color: white;
  font-size: 45px;
  letter-spacing: 12px;
}

.about-main {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.about-img {
  width: 50%;
  text-align: center;
}
.about-img img {
  max-width: 300px;
}
.about-text {
  width: 50%;
  text-align: justify;
  color: white;
}

.about-text h2 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.about-text p {
  font-size: 18px;
  margin-bottom: 10px;
}
/*end body 1*/

/* Body 2 */
.body2 {
  height: 450px;
  background-color: #2d31fa;
  display: flex;
  justify-content: center;
}

.ourteam-title h1 {
  color: white;
  font-size: 45px;
  letter-spacing: 12px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.ourteam-member {
  float: left;
  padding: 25px;
}

.ourteam-member h4 {
  color: white;
  padding-top: 15px;
  text-align: center;
}

.ourteam-member img {
  width: 175px;
  height: 175px;
}
.ourteam-member img:hover {
  width: 18vw;
  height: 18vw;
  transition: width 1s, height 1s;
}

.ourteam-title h1:hover {
  color: #051367;
  transition: ease 0.5s;
}

/* end Body 2 */
.containerfooter {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
footer {
  height: 100px;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #051367;
}

.footer-list {
  margin-top: 20px;
}

/* end footer */
